.flip-card {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner {
  position: relative;
  transition: transform 0.6s, height 0.6s, width 0.6s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back {
  background-color: rgb(244, 132, 4);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.margin-adjustment {
    transition: margin-top 0.6s;
  }