.flip-card {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card:hover .flip-card-inner {
  transform: rotateY(180deg);
}

.flip-card-front, .flip-card-back {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back {
  background-color: rgb(244, 132, 4);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-0  {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-0 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-0:hover .flip-card-inner-0 {
  transform: rotateY(180deg);
}

.flip-card-front-0, .flip-card-back-0 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-0 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-0 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-back-0 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.p {
  margin-bottom: 0.5em;
}

.flip-card-1 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-1 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-1:hover .flip-card-inner-1 {
  transform: rotateY(180deg);
}

.flip-card-front-1, .flip-card-back-1 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-1 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-1 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.two {
  margin-bottom: 0em;
}

.flip-card-2 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-2 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-2:hover .flip-card-inner-2 {
  transform: rotateY(180deg);
}

.flip-card-front-2, .flip-card-back-2 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-2 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-2 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-3  {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-3 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-3:hover .flip-card-inner-3 {
  transform: rotateY(180deg);
}

.flip-card-front-3, .flip-card-back-3 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-3 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-3 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-back-3 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-4 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-4 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-4:hover .flip-card-inner-4 {
  transform: rotateY(180deg);
}

.flip-card-front-4, .flip-card-back-4 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-4 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-4 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-5 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-5 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-5:hover .flip-card-inner-5 {
  transform: rotateY(180deg);
}

.flip-card-front-5, .flip-card-back-5 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-5 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-5 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-6 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-6 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-6:hover .flip-card-inner-6 {
  transform: rotateY(180deg);
}

.flip-card-front-6, .flip-card-back-6 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-6 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-6 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-7 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-7 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-7:hover .flip-card-inner-7 {
  transform: rotateY(180deg);
}

.flip-card-front-7, .flip-card-back-7 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-7 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-7 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-8 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-8 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-8:hover .flip-card-inner-8 {
  transform: rotateY(180deg);
}

.flip-card-front-8, .flip-card-back-8 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-8 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-8 {
  background-color: rgb(17, 139, 240);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}

.flip-card-9 {
  background-color: transparent;
  perspective: 100000px;
  margin: 5px; /* Adjusted margin */
}

.flip-card-inner-9 {
  position: relative;
  width: 100%;
  transition: transform 0.2s, height 0.2s, width 0.2s;
  transform-style: preserve-3d;
  box-shadow: 0 0px 0px 0 rgba(0,0,0,0.2);
}

.flip-card-9:hover .flip-card-inner-9 {
  transform: rotateY(180deg);
}

.flip-card-front-9, .flip-card-back-9 {
  position: absolute;
  width: 100%;
  // -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
}

.flip-card-front-9 {
  background-color: #ffffff00;
  color: black;
}

.flip-card-back-9 {
  background-color: rgb(11, 8, 95);
  color: white;
  transform: rotateY(180deg);
  padding: 20px;
//   white-space: nowrap; /* Prevents text wrapping */
}