table {
	margin-bottom: 1.3em;
	border-spacing: 0 5px; 
	thead {
		font-weight: bold;

		th {
			text-align: left;
			border-bottom: 4px solid #888;
			font-weight: bold;
			padding: 12px;
			vertical-align: middle;
		}
	}

	tr {
		td {
			background: #eee0;
			padding: 5px 0px;
			vertical-align: middle;
		}
	}
}
